body {
    margin: 1%;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: #b47474;
    padding: 20px;
    text-align: center;
}

.column {
    background-color: rgb(88, 122, 122);
    float: left;
    width: 25%;
    padding: 15px;

}

#p2 {
    background-color: rgb(204, 197, 99);
    width: 50%;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}