html, body{
    margin: 0;
    padding: 0;
}

.page{
    max-width: 1000px;
    margin: auto;
    border: 3px solid black;
}

/* navbar */
.navbar{
    background-color: burlywood;
    position: relative;
}

.logo{
    display: inline-block;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu{
    display: inline-block;
    list-style: none;
    margin-left: 600px;
    background-color: aquamarine;  
}

li{
    float: right;
    list-style: none;
    background-color: blueviolet;
}

